*{
    font-family: 'Russo One',sans-serif;
    
}

body{
    font-size: 18px;
   background-color: black;
   color: white;
  background-image: url(imatges/placa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size:100% 100%;

 
 
}

header{

    background: radial-gradient(rgb(255, 255, 255),rgb(2, 238, 255),rgb(0, 98, 255));
    border: 4px solid black;
 
    
}
h1{
font-size: 35px;
text-align:center;
text-transform: uppercase;
color: black;
text-decoration-line: underline;

}

h2{

    text-align: center;
    text-decoration-line: underline;
    color: lightgreen;
    text-transform: uppercase;
    background-color: black;
    border: 2px solid lightgreen;
    margin-bottom: 20px;
}

section{

    width: 1000px;
    height: 1000px;
    margin-left: 10.5%;
}
section img{

    width:150px;
    border: 2px solid black;
    margin-left: 30%;
}

section p{

    text-decoration-line: underline;
    color: yellow;
    background-color: black;
    text-align: center;
    margin: 5%;
    
}

footer{
    
    background-color: darkblue;
    color: white;
    text-align: center;
   font-size: 16px; 
    margin-top: 30px;
}

.cascos{

    border: 2px solid lightgreen;
}

.monitor{

    border: 2px solid lightgreen;
}

.tablet{
    border: 2px solid lightgreen;

}

.pendrive{

    border: 2px solid lightgreen;
}

.impresora{

    border: 2px solid lightgreen;
}

.raton{

    border: 2px solid lightgreen;
}

.teclado{

    border: 2px solid lightgreen;
}

.portatil{

    border: 2px solid lightgreen;
}

.grafica{

    border: 2px solid lightgreen;
}

.procesador{

    border: 2px solid lightgreen;
}

.fuente{

    border: 2px solid lightgreen;
}


.botons{

    text-align: center;
    font-size: 30px;
    
}

.right{

    float: right;
    margin-bottom: 20px;
}

.formright{

    margin-left:1000px;
    
    
}